*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: aqua;
    height: 600px;
    width: 100%;
    background-attachment: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#khoi {
    background-color: white;
    background-attachment: cover;
    margin-top: 20px;
    width: 500px;
    height: auto;
    text-align: center;
    display: flex;
    
}
h2{
  
    margin: 5px;
    width: 490px;
    text-align: center;
    background-color: red;
    color: white;
}
input[type=text] {
    padding: 0px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    box-shadow: -1px -1px 1px 1px rgb(44, 44, 44);
}
input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    box-shadow: -1px -1px 1px 1px rgb(44, 44, 44);
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    box-shadow: -1px -1px 1px 1px rgb(44, 44, 44);
}
input[type=checkbox] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    box-shadow: -1px -1px 1px 1px rgb(44, 44, 44);
}
input [type=submit] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(241, 7, 7);
    box-shadow: 1px 1px 1px 1px  rgb(44, 44, 44) ;
}